#!/usr/bin/env bash

#create build directory
mkdir -p <%= @build_dir %>


# configure gtest
cd <%= @build_dir %>
cmake <%= @source_dir %> -DCMAKE_BUILD_TYPE=RELEASE -DBUILD_SHARED_LIBS=ON 

# build gtest
make -j

# move libraries
mv libg* <%= @target_dir %>

#cleanup
rm -rf <%= @build_dir %>